<div class='navbar'>
  <ul class='nav nav-tabs'>
    <li><a href='/'>Home</a></li>
    <li><a href='/books'>Novels</a></li>
    <li><a href='/graphic'>Graphic</a></li>
    <li class='active'><a href='/bio'>Bio</a></li>
    <li><a href='/current'>Current</a></li>
  </ul>
</div>
<div class='head'>
  <h1>A Brief History</h1>
  <h4>The General Biographical Tidbits</h4>
</div>

<div class='container'
  <div class='row '>

    <div class='col-sm-3' id='bioleft'>
    </div>

    <div class='col-sm-6' id='biomain'>
      <p>Where he was born and grew up...important info!</p>
      <p>When and how he started writing- including the essential "what he did before" bits</p>
      <p>What his life is like now.</p>
      <p>Sources</p>
    </div>

    <div class='col-sm-3' id='bioright'>
    </div>

  </div>
</div>
