<div class='navbar'>
  <ul class='nav nav-tabs'>
    <li><a href='/'>Home</a></li>
    <li class='active'><a href=''>Novels</a></li>
    <li><a href='/graphic'>Graphic</a></li>
    <li><a href='/bio'>Bio</a></li>
    <li><a href='/current'>Current</a></li>
  </ul>
</div>
<div class='head'>
  <h1>Clever Gaiman Title Again</h1>
  <h4>Clever subtitle about books here</h4>
</div>
<div class='container'
  <div class='row '>

    <div class='col-sm-3' id='bookleft'>
    </div>

    <div class='col-sm-6' id='bookmain'>

      <p>Some basic stats on his books- how many, first and last published, which ones are movies?</p>
      <p>A list! of the novels (*indicates movie/tv version, @ indicates graphic adaptation)??</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <p>Sources</p>
    </div>

    <div class='col-sm-3' id='bookright'>
    </div>

  </div>
</div>
