<div class='navbar'>
  <ul class='nav nav-tabs'>
    <li><a href='/'>Home</a></li>
    <li><a href='/books'>Novels</a></li>
    <li class='active'><a href='/graphic'>Graphic</a></li>
    <li><a href='/bio'>Bio</a></li>
    <li><a href='/current'>Current</a></li>
  </ul>
</div>
<div class='head'>
  <h1>The Graphic Novels</h1>
  <h4>Clever subtitle here</h4>
</div>

<div class='container'
  <div class='row '>

    <div class='col-sm-3' id='graphicleft'>
    </div>

    <div class='col-sm-6' id='graphicmain'>
      <p>Here is a stuff on Neil's comics, and his work to with comic legal.</p>
      <a href="#">Link to comic legal</a>
      <br></br>
      <p>Sandman</p>
      <p>Stand Alones</p>
      <p>Series he has written issues/arcs</p>
      <p>Sources</p>
    </div>

    <div class='col-sm-3' id='graphicright'>
    </div>

  </div>
</div>
