<div class='navbar'>
  <ul class='nav nav-tabs'>
    <li class='active'><a href=''>Home</a></li>
    <li><a href='/books'>Novels</a></li>
    <li><a href='/graphic'>Graphic</a></li>
    <li><a href='/bio'>Bio</a></li>
    <li><a href='/current'>Current</a></li>
  </ul>
</div>
<div class='head'>
  <h1>Clever Gaiman Title Here</h1>
  <h4>Clever subtitle here</h4>
</div>

<div class='container'
  <div class='row '>

    <div class='col-sm-3' id='left'>
    </div>

    <div class='col-sm-6' id='main'>
      <p>Here is a bunch of stuff on why Neill is amazing. Not Bio stuff, that is on another page. Not directly book or comic stuff, either...also on another page. Why the page author thinks he is a hero.</p>
      <p>Here is some info on how the page is laid out.</p>
      <p>Here is something else.</p>
      <p>Sources</p>
    </div>

    <div class='col-sm-3' id='right'>
    </div>

  </div>
</div>
