<div class='navbar'>
  <ul class='nav nav-tabs'>
    <li class='active'><a href=''>Home</a></li>
    <li><a href='/books'>Novels</a></li>
    <li><a href='/graphic'>Graphic</a></li>
    <li><a href='/bio'>Bio</a></li>
    <li><a href='/current'>Current</a></li>
  </ul>
</div>
<div class='head'>
  <h1>Thanks for Signing Up!</h1>
</div>

<div class='container'
  <div class='row '>

    <div class='col-sm-3' id='recleft'>
    </div>

    <div class='col-sm-6' id='recmain'>
      <p>Thank you so much, <%= @full_name %>. If the email below is correct, expect to receive our updates on our favorite weaver of tales every few weeks. If not, click <a href="/current">HERE</a> to re-enter.</p>
      <p class='email'><%= @email %></p>
      <p>Keep wandering!</p>
      <a href="/">Home</a>
      <p>Sources</p>
    </div>

    <div class='col-sm-3' id='recright'>
    </div>

  </div>
</div>
